<footer class="site-footer">
  <div class="container site-footer__inner">
    <div>
      <div class="site-footer__brand">ФК «Фортуна»</div>
      <p>г. Минск, ул. Гамарника, 30, офис 361</p>
      <p><a href="tel:+375296611931">+375 29 661-19-31</a></p>
    </div>
    <div>
      <p>Стадион «Зелёный луг»<br>ул. Гамарника, 9/1</p>
      <p><a href="https://fcfortuna.by">fcfortuna.by</a></p>
    </div>
  </div>
</footer>
<script>
  document.querySelector('.nav-toggle')?.addEventListener('click', () => {
    document.querySelector('.nav')?.classList.toggle('open');
  });
</script>
