<div class="ticker">
  <div class="ticker__track">
    <span>⚽ БАЗОВАЯ ПОДГОТОВКА ФУТБОЛИСТОВ ОТ 4 ЛЕТ ⚽ ЗАПИСЬ В КЛУБ: +375-296-61-19-31, +375-293-40-98-23 (С 11.00 ДО 19.00) ⚽</span>
    <span>⚽ БАЗОВАЯ ПОДГОТОВКА ФУТБОЛИСТОВ ОТ 4 ЛЕТ ⚽ ЗАПИСЬ В КЛУБ: +375-296-61-19-31, +375-293-40-98-23 (С 11.00 ДО 19.00) ⚽</span>
  </div>
</div>
